nav.breadcrumb(role='navigation' aria-label='Breadcrumb')
  ol
    li
      a(href='/') Home
    li
      a(href='/persons') Persons
    li 
      a(href='/person/1' aria-current='page')
        span Henri Sonier de Lubac
