h2 Cards
p
  code .card
.grid4.gap
  - for (var i = 0; i < 5; i++)
    article.card.ribbon-hook
      h2.h2 Proin vestibulum dolor
      a(href='#')
        svg
          use(xlink:href='/medias/sprites/silos/131v-d1.svg#1')
      p Nullam id arcu in purus pretium tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu leo commodo, aliquam lorem at, auctor massa. Donec malesuada tellus id est convallis, non efficitur magna varius. Proin accumsan tristique hendrerit. Suspendisse tempus mauris felis, at pharetra elit malesuada et.
      .ribbon-left
        a(href='#') Consulter
    article.card.ribbon-hook
      h2.h2 Aenean vitae faucibus
      a(href='#')
        svg
          use(xlink:href='/medias/sprites/silos/126v-d1.svg#1')
      p Curabitur diam magna, malesuada sed convallis non, fermentum lacinia dolor. Nullam iaculis sapien ac quam ultricies posuere. Suspendisse non luctus justo. Nulla facilisi. Maecenas dapibus maximus enim, et bibendum nisl vulputate sit amet. Donec semper felis eu porttitor auctor.
      .ribbon
        a(href='#') Consulter
    article.card.ribbon-hook
      h2.h2 Suspendisse non luctus
      a(href='#')
        svg
          use(xlink:href='/medias/sprites/silos/145v-d1.svg#1')
      p Morbi ac ex ornare, finibus turpis vel, pellentesque leo. Aenean dignissim eu dolor id dignissim. Duis ornare sapien ex, non porttitor sapien suscipit ut. Suspendisse nibh neque, porta et placerat vel, gravida at magna.
      .ribbon
        a(href='#') Consulter
    article.card.ribbon-hook
      h2.h2 Integer hendrerit
      a(href='#')
        svg
          use(xlink:href='/medias/sprites/silos/195v.svg#1')
      p Vivamus sodales eget eros ut euismod. Ut eu pulvinar ante, vitae porta dui. Mauris eu elementum velit. Curabitur aliquet sem eget tempus venenatis. Vivamus vel lectus dictum, tempus arcu non, sodales ex. Praesent ut nisi cursus, tristique elit quis, tempus enim.
      .ribbon
        a(href='#') Consulter
    article.card.ribbon-hook
      h2.h2 Curabitur luctus ex eget
      a(href='#')
        svg
          use(xlink:href='/medias/sprites/silos/245v-d1.svg#1')
      p Integer vel ipsum et tellus sagittis tincidunt. Morbi id leo mauris. Curabitur scelerisque ipsum ante, vel lacinia lorem feugiat sollicitudin.
      .ribbon
        a(href='#') Consulter
    article.card.ribbon-hook
      h2.h2 Ut eu pulvinar ante
      a(href='#')
        svg
          use(xlink:href='/medias/sprites/silos/163v.svg#1')
      p Proin sed mattis purus. Nullam iaculis ultrices molestie. Etiam viverra lacus quis purus accumsan consectetur. Praesent ornare ante tellus, feugiat convallis odio aliquet eu.
      .ribbon
        a(href='#') Consulter
    article.card.ribbon-hook
      h2.h2 Donec ac scelerisque nisl
      a(href='#')
        svg
          use(xlink:href='/medias/sprites/silos/126r-d1.svg#1')
      p Praesent ut nisi cursus, tristique elit quis, tempus enim. Donec ullamcorper, libero eget consectetur vehicula, urna nunc dapibus mauris, quis aliquam orci velit finibus tortor. Donec ac scelerisque nisl, non molestie erat.
      .ribbon
        a(href='#') Consulter
    article.card.ribbon-hook
      h2.h2 Phasellus hendrerit erat
      a(href='#')
        svg
          use(xlink:href='/medias/sprites/silos/79v-d1.svg#1')
      p Aliquam eu tellus id turpis gravida egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      .ribbon
        a(href='#') Consulter
