footer.footer
  .wrap
    div
      .logo
        svg
          use(xlink:href='/medias/sprites/silos/195v.svg#1')
      p Scriptura
    p Created by 
      a(href='https://www.linkedin.com/in/olivier-chavarin/').author Olivier Chavarin
    p Since 2020
    noscript.noscript
      p.message-warning Javascript est désactivé dans votre navigateur, réactivez-le afin de bénéficier de toutes les fonctionnalités du site.
      //-p.message-warning Javascript is disabled on your browser, enable it to benefit from all the site's features.
