h2 Images
p
  code .figure-focus
.grid4.gap.gap-bottom-none
  -
    const itemsImg = [
      ['LotusTest', 'Lotus test', 'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.'],
      ['GrassLeaf', 'Grass leaf', 'Non officiis voluptates vel quibusdam laborum non quod ducimus ut iure nulla ut veniam rerum.'],
      ['FlowerMacro', 'Flower', 'Ex eveniet consequatur aut expedita incidunt non quaerat galisum et corporis nostrum.'],
      ['ColorfulLeaf', 'Colorful leaf', 'Qui nihil assumenda a incidunt quia ea eligendi quae et ipsam amet ea harum assumenda.']
    ]
  each item in itemsImg
    div
      figure.figure-focus
        - const img = '/medias/images/demo/' + item[0]
        - const alt = item[1]
        include ../helpers/picture
        figcaption= item[2]
hr(data-hr='✻ ✻ ✻')
- let img = '/medias/images/demo/GrassLeaf'
- let alt = 'Grass leaf'
.grid2.media-l-grid1.gap
  div
    figure.figure-focus-thumbnail-alignleft
      include ../helpers/picture
      figcaption Nam perferendis soluta quo fuga repudiandae vel perferendis suscipit et impedit voluptatum qui reprehenderit aliquid non iure ipsam.
    p Est optio ducimus aut nesciunt enim quo nisi velit. Recusandae asperiores non esse numquam ab quisquam illum est voluptates provident ex vero libero? Aut ducimus magnam hic eveniet voluptas ea officia doloribus quo sapiente labore est perferendis animi sed officia voluptate rem expedita laborum. Hic accusamus facilis At quod ducimus et consequuntur deleniti. Ut vero quibusdam ut reprehenderit atque cum perferendis blanditiis. Aut sunt sunt eum explicabo nulla eum voluptate harum aut reiciendis dolore sunt provident ab dolorum deserunt. Nulla sint et voluptas consequatur aut blanditiis eveniet ea quia sunt id odit quasi. Et suscipit omnis non quam adipisci aut iusto dolore aut provident repellat.
    p Est optio ducimus aut nesciunt enim quo nisi velit. Recusandae asperiores non esse numquam ab quisquam illum est voluptates provident ex vero libero? Aut ducimus magnam hic eveniet voluptas ea officia doloribus quo sapiente labore est perferendis animi sed officia voluptate rem expedita laborum. Hic accusamus facilis At quod ducimus et consequuntur deleniti.
  div
    figure.figure-focus-thumbnail-alignright
      include ../helpers/picture
      figcaption In iusto adipisci qui voluptates quidem sit galisum doloremque in doloribus ipsum est ducimus soluta non amet maiores qui enim tempore.
    p Eum mollitia accusantium. quam distinctio non consequatur quia ut perspiciatis inventore. Ea consequatur similique non repellendus nulla qui magni eius non perspiciatis sunt non aperiam repudiandae in laudantium consequatur. Sit dignissimos omnis et cupiditate corporis hic voluptatem reiciendis et unde animi. pariatur enim id itaque enim et expedita maiores! Sit eveniet ratione est voluptatem excepturi aut assumenda repudiandae hic libero sequi sit explicabo aperiam. Vel facere cumque in omnis numquam eum cupiditate quod aut ipsum maxime et fuga dignissimos ab reprehenderit fuga.
    p Ab dolorem iste et corrupti commodi qui officia repellendus. Nam velit obcaecati et itaque totam hic consequatur galisum. Ad omnis deleniti sit debitis consequatur qui temporibus tenetur aut repudiandae suscipit. accusamus sequi est recusandae voluptatibus. Ex aspernatur doloribus et dolorem soluta ea nulla repudiandae ea excepturi aspernatur ut tempora ut sunt soluta in internos molestiae.
