h2 Images
p
  code .figure-focus
.columns4.gap.gap-bottom-none
  -
    const itemsImg = [
      ['LotusTest', 'Lotus test', 'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.'],
      ['OldMechanism', 'Old Mechanism', 'Vel maiores placeat est repudiandae culpa qui eaque amet non magnam asperiores non quis placeat a sunt inventore aut cumque repellendus.'],
      ['GrassLeaf', 'Grass leaf', 'Non officiis voluptates vel quibusdam laborum non quod ducimus ut iure nulla ut veniam rerum.'],
      ['PacificCity', 'Pacific city', 'Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.'],
      ['FlowerMacro', 'Flower', 'Ex eveniet consequatur aut expedita incidunt non quaerat galisum et corporis nostrum.'],
      ['OldMechanism', 'Old Mechanism', 'Cum quisquam voluptatem est tenetur et tempora impedit qui vitae repellendus aut reprehenderit nisi.'],
      ['PacificCity', 'Pacific city', 'Rem praesentium esse eos eaque incidunt sit doloremque inventore sed natus labore sit sapiente dolor non exercitationem dolor.'],
      ['LotusMacro', 'Lotus', 'Aut temporibus laborum aut neque dignissimos eum delectus quia et rerum commodi et omnis vitae ab natus dolor hic repellat autem.'],
      ['GrassLeaf', 'Grass leaf', 'Sit veritatis commodi et voluptate nisi ut sequi quae in provident aliquam et dolor provident deleniti placeat hic quibusdam quasi.'],
      ['ColorfulLeaf', 'Colorful leaf', 'Qui nihil assumenda a incidunt quia ea eligendi quae et ipsam amet ea harum assumenda.']
    ]
  each item in itemsImg
    div
      figure.figure-focus
        - const img = '/medias/images/demo/' + item[0]
        - const alt = item[1]
        include ../helpers/picture
        figcaption= item[2]


