ul.list-stripe-links.grid3
  li
    a(href='/') Home page
  li
    a(href='/login') Login page
  li
    a(href='/register') Register page
  li
    a(href='/person/1') Person page
  li
    a(href='/user/admin') User page
  li
    a(href='/article/1') Article page
  li
    a(href='/place/1') Place page
  li
    a(href='/imageGallery') Image gallery
  li
    a(href='/calendar/2020/12/25') Calendar page
  li
    a(href='/styleGuide/') Style Guide
  li
    a(href='/styles/expanded/main.css' target='_blank') Styles expanded
  li
    a(href='https://github.com/Scriptura/ScripturaJS21') ScripturaJS21 on Github
