ul.list-stripe-links.grid3
  li
    a(href='/login') Login page
  li
    a(href='/register') Register page
  li
    a(href='/account/admin') User page
  li
    a(href='/persons') Persons page
  li
    a(href='/person/1') Person page
  li
    a(href='/articles') Articles page
  li
    a(href='/article/1') Article page
  li
    a(href='/keywords') Keywords page
  li
    a(href='/keyword/lion') Keyword page
  li
    a(href='/place/1') Place page
  li
    a(href='/imageGallery') Image gallery
  li
    - const currentDate2 = new Date().toISOString().split('T')[0].replaceAll('-', '/') // @todo Variable en conflit avec une autre sur le menu, à revoir.
    a(href='/calendar/' + currentDate2 + '') Calendar page
  li
    a(href='/styleGuide/') Style Guide
  li
    a(href='/styles/expanded/main.css' target='_blank') Styles expanded
  li
    a(href='https://github.com/Scriptura/ScripturaJS21') ScripturaJS21 on Github
