h2 Message boxes
.grid3.media-l-grid2.media-s-grid1.vertical-gap
  div
    p
      code .alert-primary
    p.alert-primary(role='alert')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/medias/sprites/utils.svg#paperclip')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
  div
    p
      code .alert-secondary
    p.alert-secondary(role='alert')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/medias/sprites/utils.svg#paperclip')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
  div
    p
      code .alert-info
    p.alert-info(role='alert')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/medias/sprites/utils.svg#info')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
  div
    p
      code .alert-success
    p.alert-success(role='alert')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/medias/sprites/utils.svg#checkmark')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
  div
    p
      code .alert-danger
    p.alert-danger(role='alert')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/medias/sprites/utils.svg#mark')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
  div
    p
      code .alert-warning
    p.alert-warning(role='alert')
      svg.icon(role='img' focusable='false')
        use(xlink:href='/medias/sprites/utils.svg#warning')
      | Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
  div
    p
      code .message
    p.message Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
