extends layout

block variables
  - var documentType = '404'

block main
  main#main(role='main')
    h1.main-heading Error 404 
      span . Page non trouvée
    svg.size25.decorative-svg(role='img' focusable='false')
      use(xlink:href='/medias/sprites/silos/131v-d1.svg#1')
    hr
    include includes/link
