extends layout

block main
  main
    article.article
      header
        h1.main-heading!= data._name
      section.add-line-marks.add-drop-cap.decorative-hr
        != data._content
      footer
        p
          svg.icon(role='img' focusable='false')
            use(xlink:href='/medias/sprites/utils.svg#quill')
          |  Jacques de Voragine, o. p.
        p
          svg.icon(role='img' focusable='false')
            use(xlink:href='/medias/sprites/utils.svg#calendar')
          |  Contenu publié le #{data._creation}, modifié le #{data._revision}.
        p.keywords
          svg.icon(role='img' focusable='false')
            use(xlink:href='/medias/sprites/utils.svg#old-key')
          |  Mots clefs : 
          |  
          a(href='/keyword/lion') Lion
          |  • 
          a(href='/keyword/lion') Antilope
          |  • 
          a(href='/keyword/lion') Crocodile
          |  #{data._keywords}
        p
          svg.icon(role='img' focusable='false')
            use(xlink:href='/medias/sprites/utils.svg#info')
          != data._description
