extends layout

block main
  main.main-bottom-none
    h1.main-heading!= data._name
    .columns4.gap
      each e in data
        article.card
          h2.h2!= e._name
          a(href='/article/' + e._id)
            svg
              use(xlink:href='/medias/sprites/silos/131v-d1.svg#1')
          p!= e._description
