extends layout

block main
  main#main(role='main').main-bottom-none
    h1.main-heading!= data._name
    .columns4.gap.gap-bottom-none
      - var items = [['LotusTest', 'Lotus test'], ['OldMechanism', 'Old Mechanism'], ['ColorfulLeaf', 'Colorful leaf'], ['GrassLeaf', 'Grass leaf'], ['PacificCity', 'Pacific city'], ['ColorfulLeaf', 'Colorful leaf'], ['LotusMacro', 'Lotus'], ['OldMechanism', 'Old Mechanism'], ['GrassLeaf', 'Grass leaf'], ['PacificCity', 'Pacific city'], ['FlowerMacro', 'Flower'], ['OldMechanism', 'Old Mechanism'], ['FlowerMacro', 'Flower'], ['LotusMacro', 'Lotus'], ['ColorfulLeaf', 'Colorful leaf'], ['GrassLeaf', 'Grass leaf'], ['OldMechanism', 'Old Mechanism'], ['PacificCity', 'Pacific city'], ['FlowerMacro', 'Flower'], ['LotusMacro', 'Lotus'], ['OldMechanism', 'Old Mechanism'], ['ColorfulLeaf', 'Colorful leaf'], ['GrassLeaf', 'Grass leaf'], ['PacificCity', 'Pacific city'], ['FlowerMacro', 'Flower'], ['OldMechanism', 'Old Mechanism']]
      - for (var i = 0; i < items.length; i++)
        div
          figure.figure-focus
            - var img = '/medias/images/demo/' + items[i][0]
            - var alt = items[i][1]
            include helpers/picture
            figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
