extends layout

block main
  main
    h1.main-heading #{_name}
    .grid4.gap.media-xs-grid2
      - var items = [['LotusTest', 'Lotus test'], ['ColorfulLeaf', 'Colorful leaf'], ['GrassLeaf', 'Grass leaf'], ['PacificCity', 'Pacific city'], ['FlowerMacro', 'Flower'], ['LotusMacro', 'Lotus'], ['ColorfulLeaf', 'Colorful leaf'], ['GrassLeaf', 'Grass leaf'], ['PacificCity', 'Pacific city'], ['FlowerMacro', 'Flower'], ['OldMechanism', 'Old Mechanism'], ['FlowerMacro', 'Flower']]
      - for (var i = 0; i < items.length; i++)
        div
          figure.figure-focus
            - var img = '/medias/images/demo/' + items[i][0]
            - var alt = items[i][1]
            include helpers/picture
            figcaption Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
