extends layout

block main
  main
    h1.main-heading!= _name
    ul.list-stripe-links.grid3
    //- console.log(test)
    //-
      each i in [data]
        li
          a(href='/person/' + i)= i._given_name
    pre.pre
      code= _e._name
