extends layout

block variables
  - var documentType = 'places'

block main
  main(role='main')
    h1.main-heading!= data._name
    ul.list-stripe-links.grid3
      each e in data
        li
          a(href='/place/' + e._id) #{e._name}
