extends layout

block main
  main
    .wrap
      h1.main-heading Style Guide 
        span documentation
      include includes/forms
      hr
      include includes/typography
      hr
      include includes/lists
      hr
      include includes/languages
      hr
      include includes/messageboxes
      hr
      include includes/codeblocks
      hr
      include includes/tables
      hr
      include includes/images
      hr
      include includes/players
      hr
      //-include includes/forms
      //-hr
      include includes/checkboxes
      hr
      include includes/ranges
      hr
      include includes/buttons
      hr
      include includes/progressbars
      hr
      include includes/loaders
      hr
      include includes/accordions
      hr
      include includes/cards
      hr
      include includes/grids
      hr
      include includes/columns
      hr
      include includes/zooms
