extends patternLayout

block variables
  - var documentType = 'styleGuide'

block main
  h1.main-heading!= data._name
  //-
    section
    include includes/demo/sprite
    hr
  section
    include includes/demo/typography
  hr
  section
    include includes/demo/language
  hr
  section
    include includes/demo/list
  hr
  section
    include includes/demo/detailsSummary
  hr
  section
    include includes/demo/tab
  hr
  section
    include includes/demo/accordion
  hr
  section
    include includes/demo/messageBox
  hr
  section
    include includes/demo/codeblock
  hr
  section
    include includes/demo/table
  hr
  section
    include includes/demo/image
  hr
  section
    include includes/demo/player
  hr
  section
    include includes/demo/form
  hr
  section
    include includes/demo/checkbox
  hr
  section
    include includes/demo/range
  hr
  section
    include includes/demo/button
  hr
  section
    include includes/demo/progressbar
  hr
  section
    include includes/demo/loader
  hr
  section
    include includes/demo/card
  hr
  section
    include includes/demo/ribbon
  hr
  section
    include includes/demo/grid
  hr
  section
    include includes/demo/column
  hr
  section
    include includes/demo/zoom
  hr
  section
    include includes/demo/map
