extends layout

block main
  main
    h1.main-heading Style Guide 
      span documentation
    section
      include includes/typography
    //-
      hr
      section
        include includes/sprites
    hr
    section
      include includes/lists
    hr
    section
      include includes/languages
    hr
    section
      include includes/messageboxes
    hr
    section
      include includes/codeblocks
    hr
    section
      include includes/tables
    hr
    section
      include includes/images
    hr
    section
      include includes/players
    hr
    section
      include includes/forms
    hr
    section
      include includes/checkboxes
    hr
    section
      include includes/ranges
    hr
    section
      include includes/buttons
    hr
    section
      include includes/progressbars
    hr
    section
      include includes/loaders
    hr
    section
      include includes/accordions
    hr
    section
      include includes/cards
    hr
    section
      include includes/ribbons
    hr
    section
      include includes/grids
    hr
    section
      include includes/columns
    hr
    section
      include includes/zooms
