_accordionColor1 = _color2
_accordionColor2 = _color5
_accordionTime1 = .5s

.accordion
  box-shadow 0 0 2rem rgba(0, 0, 0, .25)

.accordion summary
.accordion .accordion-summary
  padding .75em 1em
  color _colorT
  //background _accordionColor1 linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .05))
  background-color _accordionColor1
  box-shadow inset .5rem .5rem 2rem rgba(255, 255, 255, .07), inset -.5rem -.5rem 2rem rgba(0, 0, 0, .18)
  cursor pointer
  outline none

.accordion .accordion-summary
  display block
  width 100%
  font-family Arial
  font-size 1em
  text-align left
  border none

.accordion > * > :first-child
  display flex
  align-items center
  &::after
    content '\2039'
    content url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path></svg>')
    margin-left auto
    font-weight bold
    font-size 1.5em
    transition transform _accordionTime1 ease-out

.no-touch .accordion > * > :first-child
  &:focus-visible
  &:hover
  //&:active
    background-color _accordionColor2

//.accordion .open button
//  background-color _accordionColor2

.accordion > * > :last-child
  padding 0 1em
  //color #555
  //background-color #f8f7f5
  overflow hidden
  transition max-height _accordionTime1 ease-out

.accordion details[open] summary::after
.accordion .open .accordion-summary::after
  //content '\2212'
  transform rotate(-90deg)

.accordion .accordion-panel
  max-height 0
  //border-left solid 1em _color5
  //border-image linear-gradient(_color5, _color1) 1
