_messageBoxesColor0 = _colorG + 7%
_messageBoxesColor1 = _colorG + 20%
_messageBoxesColor2 = _messageBoxesColor0
_messageBoxesColor3 = _color6
_messageBoxesColor4 = _color4
_messageBoxesColor5 = _color2
_messageBoxesColor6 = _color5

[class*=message]
  margin-bottom 1em
  padding 1em
  background-color _messageBoxesColor0
  box-shadow _shadow5
  border-radius _r2

[class*=message-]
  color #fff

.message-primary
  background-color _messageBoxesColor1

.message-secondary
  background-color _messageBoxesColor2

.message-info
  background-color _messageBoxesColor3

.message-success
  background-color _messageBoxesColor4

.message-danger
  background-color _messageBoxesColor5

.message-warning
  background-color _messageBoxesColor6
