_tabsColor1 = _colorG + 40%
_tabsColor2 = _colorG + 20%
_tabsColor3 = _color2
_tabsSize1 = 1px

.tabs
  & .tablist
    position relative // @note Si .tabs-js-united
    display flex
    margin-bottom 0
    padding 0
    & button
      overflow hidden // @note Pour couper les textes longs
      display block
      //width content-box
      height 2.5em
      //max-width 12em
      padding .5em 1em
      white-space nowrap
      text-overflow ellipsis
      text-decoration none
      color inherit
      background-color _colorG + 7%
      border _tabsSize1 solid _tabsColor2
      border-bottom-color _tabsColor1
      border-radius .5em .5em 0 0
      cursor pointer
      transition .3s background-color ease-in-out
      &:focus-visible
      &:hover
      //&:active
        outline none
        color #fff //_tabsColor3
        background-color _tabsColor3
        border-color _tabsColor3
        border-bottom-color _tabsColor1
      &.current
        flex-shrink 0
        max-width 60%
        background-color _color0
        border-color _tabsColor1
        border-bottom none
        pointer-events none
      &:not(.current)
        user-select none
  & .tabpanel
    position relative
    z-index -1 // @note Passe sous les onglets
    top - _tabsSize1 // @note Idem
    padding 'calc(.5em + %s) 1em .5em' % _tabsSize1 // Compensation de la bordure inférieure des onglets.
    border _tabsSize1 solid _tabsColor1
    box-shadow .5rem .5rem 2rem rgba(0, 0, 0, .25)
    & + .tabpanel
      display none
