_tablesSize = 5px
_tablesColor1 = _colorG + 7%
_tablesColor2 = _color2
_tablesColor3 = _colorG - 30%
_tablesColor4 = _colorG - 10%

.table
  width 100%
  border-collapse collapse // separate
  //border-spacing .2em
  font-weight normal
  word-wrap break-word
  text-align left
  & th
    font-weight normal

.table-fixed
  table-layout fixed

@media (max-width _sizeS)

  .table
    border-collapse separate
    border-spacing 0 1em
    & thead
    & tfoot
      display none
    & th
    & td
      display block
      background-color _tablesColor1
    & tr > :first-child
      padding-top 1em
    & td:last-child
      padding-bottom 1em
    & tfoot :empty
      display none
    & tbody tr
      border-radius _r2
      box-shadow _shadow1
      & > *
        padding 0 1em
    & tbody th::before
    & tbody td::before
      content attr(data-thead) ' ' // '\00a0: '
      color _colorT2
    & tbody td:empty::before
      content attr(data-thead) ' ● ● ●'

@media (min-width _sizeS)

  .table
    box-shadow _shadow5
    & th
    & td
      vertical-align top
      padding .5em 1em
      box-shadow _shadow16
    & thead th
      position sticky
      top 0
      z-index 1
      background-color _tablesColor2
    & tbody th
    & tfoot
      background-color _tablesColor3
    & tbody tr:nth-child(odd)
      background-color _tablesColor1
    & tbody tr:nth-child(even)
      background-color _tablesColor4
    & tbody :empty::after
      content '● ● ●'
      //background-image repeating-linear-gradient(-45deg, transparent 0 _tablesSize, rgba(255, 255, 255, .05) _tablesSize _tablesSize * 2)
